!!!
%html{lang: "ja"}
  %head
  %body
  .wrapper
    .contents-left
      .header
        .header-box
          .header-name
            yAmAdA
          .header-tabs
            .edit-tab
              = fa_icon 'edit'
            .create-tab
              = fa_icon 'cog'
      .groups
        .group-box
          .group-name
            test
          .comment
            test
    .contents-right
      .header
        .group-name
          test
        .members-box
          %ul.member-tag
            Member : 
          .members
            yAmAdA
        %button.header-edit
          Edit
      .chat
        .chat-box
          .chat-name-box
            .name
              yAmAdA
            .dates
              2019/09/08(sun) 00:00:00
          .message
            こんにちは
      .footer
        .footer-box
          %form{:class => "form" ,:action => "/", :method => "post"}
            %input{:class => "form-box", :type => "text", :text => "text", :placeholder => "type a message",:required => "true"}                
              = fa_icon "image", class: 'image-box'
          %buttom.footer-send
            Send


