!!! 5
%html
  %body
    %div.left-side
      %header-left
        %p yAmAdA
        %p tab
      %div.contents
        %div.group
          %p testtest
          %p 画像が投稿されています
    %div.chat-side
      %header-chat
        %div.group
          %p testtest
          %p Member : yAmAdA
        %div.chat
          %p yAmAdA
          %p 2019/09/08(sun) 17:17:31
      %footer

        %div.send_button
